extends ./layout.pug
block content
	.car-title
		h1 购物车
	.car-step
		table
			tbody
				tr
					td.car-active.car-bg
						i 1
						| 购物车
					td ->
					td.car-active.car-bg
						i 2
						| 填写和提交订单
					td ->
					td.car-bg
						i 3
						| 订单提交成功
	form(class="order-check" action="#" method="post")
		h2 填写和提交订单
		.order-info
			.info-tit
				h3 收货信息
			.info-set
				table
					tbody
						tr
							td(colspan="1")
							td 收货地址：
							td
								input(type="text" ng-model="users.address[0].addr")
							td(colspan="12")
						tr
							td(colspan="1")
							td 收货人姓名：
							td
								input(type="text" ng-model="users.address[0].name")
						tr
							td(colspan="1")
							td 联系方式：
							td
								input(type="text" ng-model="users.address[0].tel")
						tr
							td(colspan="1")
							td
								a 确认收货信息
		.order-pay
			.info-tit
				h3 支付方式
			.order-pay-method
				table
					tbody
						tr
							td(colspan="1")
							td
								input(type="radio" value="" name="pay-method" id="pay1")
								label(for="pay1") 支付宝	
							td(colspan="13")
						tr
							td(colspan="1")
							td
								input(type="radio" value="" name="pay-method" id="pay2")
								label(for="pay2") 微信支付
						tr
							td(colspan="1")
							td
								a 确认支付方式
		.order-detail
			.info-tit
				h3 商品清单
			.order-detail-list
				table
					tbody
						tr
							td(colspan="6") 商品
							td 销售价
							td 数量
							td 小计
						tr(ng-repeat="item in users.cart" ng-init="product=item.product[0]")
							td(colspan="6") #{product.title}
							td ￥#{product.shopPrice}
							td #{item[0].quantity}
							td ￥#{product.shopPrice}*#{item[0].quantity}
						tr
							td(colspan="8")
							td.order-detail-sub
								input(type="submit" value="提交订单")